* {
    box-sizing: border-box;
}

body {
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

.navbar {
    width: 1110px;
    height: 70px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 00px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center !important;
}

.navbar-brand {
    color: #3e35f4;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 130px;

}

.nav-link {
    color: #3e35f4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

.navbar-nav {
    gap: 150px;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
}

.main-foto {
    width: 200px;
    border-radius: 50%;
}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.col-8 {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 40px;
}

.info {
    background: rgba(255, 255, 255, 1);
    border-radius: 1.25rem;
    gap: 5px;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 20px;
}

.contact {
    background: rgb(255, 255, 255);
    border-radius: 1.25rem;
    gap: 5px;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.col-4 {
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    gap: 10px;
}

.card {
    border-radius: 1.25rem;
}

.card-img-top {
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}

h5 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: #3e35f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.icon {
    width: 50px;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
}